/**
 * Default settings
 */

body {
  background-color: #bababa;
  color: #333;
  font-family: arial, sans-serif;
  font-size: 12px;
}
 
img{
    border: 0;
}
.right{
    float: right;
}
.left{
    float: left;
}
.top{
    margin-top: 0;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
p{
  font-size: 1rem;
}

/* html5 elements
-------------------------------------------------------- 

*/
header,footer,nav,article,section,aside,figure,figcaption{display:block;}


/**
 * Layout of the main page elements 
 */
#wrapper {
  float: left;
  margin: 1em auto auto 3em;
  padding: 0.7em;
  background-color: #f3f3f3;
}
 
 
/**
 * Layout for header
 */
#header {
  float: left;
  height: 20em;
  margin-bottom: 3.333em;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
 
.sitetitle {
  font-size: 3em;
  margin-top: 3.8em;
}
 
.siteslogan {
  font-style: italic;
  font-size: 1.5em;
  color: #fcfde6;
}
.sitelogo{
    max-width: 16em;
    max-height: 18em;
    margin: 0.8em;
    overflow: hidden;
}
 
 
/**
 * Layout for main
 */
#main {
  float: left;
  
  padding: 1.8em;
  min-height: 20em;
}
 
 
/**
 * Layout for footer
 */
#footer {
  margin-top: 3.333em;
  border-top: 0.0833em solid #ccc;
  padding-top: 1.250em;
}
#wrapper, #header, #main, #byline, #footer{
  float:left;  
  width: 81.667em;   
}
 
.sitefooter {
  color: #666;
}